<p>nav-bar2 works!</p>
<header>
    <h1 class="logo">Angular-Navbar</h1>
    <nav>
        <ul class="nav-link">
            <li class="doller"><a href="">HOME</a>
                
        </li>
            <li class="doller"><a href="">SERVICES</a>
               
            </li>
            <li class="doller"><a href="">LINK</a>
               
            </li>
            <li class="doller"><a href="">ABOUT</a>
            
        </li>
            <li class="doller"><a href="">LOGIN</a></li>
        </ul>
    </nav>
    <a href="#" class="cta"><button>CONTECT
        
    </button></a>  
</header>


